/* 스크롤바 전체 스타일 */
.custom-scrollbar-container::-webkit-scrollbar {
  position: absolute;
  /* transfrom: translateX(-2px); */
  width: 5px; /* 스크롤바 너비 */
}
.container::-webkit-scrollbar-track {
  position: absolute;
  background: transparent; /* 스크롤바 트랙의 배경색을 투명으로 설정합니다. */
  background: -webkit-linear-gradient(
    180deg,
    #fff,
    #fff,
    #fff,
    #fff,
    rgba(0, 0, 255, 0.5),
    rgba(0, 0, 255, 0.5),
    rgba(0, 0, 255, 0.5),
    #fff,
    #fff,
    #fff
  );

  border: none; /* 스크롤바 트랙의 테두리를 없앱니다. */
}
/* 스크롤바 속성 (스크롤바에 대한 모양 및 크기 조정) */
.custom-scrollbar-container::-webkit-scrollbar-thumb {
  background: red; /* 스크롤바 색상 */
  /* box-sizing: content-box; */
  border: 2px solid white; /* 스크롤바 보더 설정 */
  border-radius: 5px; /* 스크롤바 모양을 둥글게 만듭니다. */
}

/* 선택한 영역을 클릭했을 때 스크롤바 속성 */
